---
layout: page
title: Gallery
permalink: /gallery/
---

<p>Photos from Timberline Blazers games and events. Open a season, then pick an album.</p>

<h2>Seasons</h2>
<p class="cta-row">
  {% for group in site.data.galleries.groups %}
    {% unless group.published == false %}
    <a class="outline-button" href="{{ '/gallery/group/' | relative_url }}?id={{ group.slug | url_encode }}">{{ group.title }}</a>
    {% endunless %}
  {% endfor %}
</p>

{% assign highlight_token = site.data.galleries.highlights.token %}
{% include gallery-slideshow.html share_token=highlight_token alt="Timberline Blazers gallery photo" %}
